@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color1:#00d46a;
    --color2:rgb(30,216,76);
    --color3:#1d1d1d;
    --color4:rgb(14,14,14);
}
* {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--color4);
    padding: 1em;
    font-family: "roboto",sans-serif;
    box-sizing: border-box;
}

/*aside navbar*/
.aside {
    width: 5em;
    background-color: var(--color3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    color: white;
    padding: 0.75em 0.5em;
    
    box-sizing: border-box;
}
.asideWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
.iconsWrapper,.settingsWrapper {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    gap: .5em;
    width: 100%;
    height: fit-content;
    position: relative;
}

.iconsWrapper > i {
    aspect-ratio: 1/1;
    background-color:   var(--color3);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.iconsWrapper > i:nth-of-type(1) {
    overflow: hidden;
}
i > img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*redDot icon for friend Request*/


.addFriendIcon > .friendRequestDot {
    background-color: red;
    position: absolute;
    width: fit-content;
    min-width: 1.2em;
    height: 1.2em;
    color: white;
    border-radius: 5px;
    top: -10%;
    font-family: "roboto", sans-serif;
    font-size: .7em;
    font-weight: 500;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.addFriendIcon > .friendRequestDot.visible {
    opacity: 1;
}

.settingsWrapper {
    align-items: center;

}
.settingsWrapper > i {
    transition: all 0.15s ease-in-out;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

/*main content*/
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0 1em;
    box-sizing: border-box;
}
.messageContainer, .addFriendContainer {
    width: 30em;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}
.homeContainer {
    width:100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.messageTitle , .addFriendTitle{
    color: white;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    padding: .5em 1em;
    box-sizing: border-box;
    font-weight: 200;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
}
.messageTitle > h1, .addFriendTitle > h1 {
    font-size: 1.75em;
    font-weight: 500;
}
.messageTitle > .newConv {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    transition: all 0.15s ease-in-out;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);

    }

}
.friendContainer, .friendRequestContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: .5em;
    box-sizing: border-box;
    gap: .5em;
    overflow-y: auto;    
}

.addFriendButton, .friendRequestButton, .friendRequestNo, .friendRequestYes {
    width: 50%;
    background-color: var(--color3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 1em;
    transition: all 0.15s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.2);
    }
}

/*add friend Popup*/
.addFriendPopup {
    pointer-events: none;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%,-40%);
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    background-color: var(--color3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 50%;
    left: 50%;
    width: clamp(20em,40vw,40em);
}
.addFriendPopup.visible {
    pointer-events:all;
    opacity: 1;
    transform: translate(-50%,-50%);
}
.addFriendPopup > header {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}
.addFriendPopup > header > i {
    font-size: 2em;
    transition: all 0.15s ease-in-out;
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}
.addFriendPopup > main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

}
.addFriendPopup > main > h1 {
    font-size: 2em;
}
.addFriendPopup > main > .solyTagInput {
    width: 80%;
    height: 3em;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2) ;
    border-radius: 15px;
    color: white;
    padding: 0em 1em;
    font-size: 1.25em;
    transition: all 0.15s ease-in-out;
    &:focus {
        border-color: rgba(255, 255, 255, 1);
    }
}

/*friendRequest*/

.friendRequest {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: .5em;
    box-sizing: border-box;
    gap: 1em;
}
.friendRequestWrapper {
    display: flex;
    gap: 1em;
}
.friendRequestPicture {
    width: 3.5em;
    aspect-ratio: 1/1;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color3);
    overflow: hidden;
}
.friendRequestPicture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.friendRequestContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.friendRequestSolyTag {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 1em;
}
.friendRequestStatus {
    display: flex;
    flex: 1;
    gap: 1em;
    box-sizing: border-box;
}
/*friendCard*/

.friendWrapper {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: .5em;
    box-sizing: border-box;
    gap: 1em;
    &:hover {
        cursor: pointer;
        background-color: var(--color3);
    }

}
.friendCredentialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.friendName {
    font-size: 1.5em;
}
.friendPictureContainer {
    width: 3.5em;
    aspect-ratio: 1/1;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color3);
    overflow: hidden;
}
.friendPictureContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friendSolyTag {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 1em;
}
/*debug popup*/
.popUpRegister {
    position: absolute;
    opacity: 0;
    left: 50%;
    bottom: 0em;
    width: 20em;
    height: 5em;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1d1d1d;
    translate: -50% 0%;
    transition: all 0.5s ease-in-out;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    flex-direction: column;
    display: flex;
    pointer-events: none;
}
.popUpRegister > span {
    display: flex;
    justify-content: center;
    font-family: "roboto",sans-serif;
}
.popUpRegister.visible {
    opacity: 1;
    bottom: 1em;
}
.progressBarEmpty {
    width: 100%;
    height: 0.3em;
    background-color: black;
    border-radius: 50px;
}
.progressBarFilling {
    position: absolute;
    width: calc(100% - 2em);
    background-color: var(--color1);
    height: 0.3em;
    bottom: 1em;
    z-index: 1;
    transform: scaleX(0);
    border-radius: 50px;
    transition: transform 2s ease-in-out;
    transition-delay: 0.25s;
    
}
.progressBarFilling.visible {
    transform: scaleX(1);
}

@media (max-width:900px) {
    body {
        flex-direction: column-reverse;
        padding: .5em;
    }
    .aside {
        width: 100%;
        height: 5em;
        padding: 0.5em 0.75em ;
    }
    .asideWrapper {
        flex-direction: row;
    }
    .iconsWrapper,.settingsWrapper {
        flex-direction: row;
        height: 100%;
        width: fit-content;
    }
    
    .iconsWrapper > i {
        height: 100%;
    }
    .main {
        padding: 0 0 1em 0;
    }
    .friendContainer {
        padding: .5em 0em;
    }
    .messageContainer,.addFriendContainer {
        width: 100%;
        border: none;
    }
    .messageTitle, .addFriendTitle {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius:15px;
    }
    .homeContainer {
        display: none;
    }

}
