@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --color1:#00d46a;
    --color2:rgb(30,216,76);
    --color3:#1d1d1d;
    --color4:rgb(14,14,14);
}
body {
    background-color: rgb(17, 17, 17);
    margin: 0;
    height: 100dvh;
    width: 100%;
    position:  relative;
    box-sizing: border-box;
    overflow:hidden;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoneWrapper {
    background-color: var(--color3);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 2em;
    color: white;
    display: flex;
}
.circle,.circle2 {
    display: flex;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 255, 135, 0.4) 0%, transparent 70%);
    width: clamp(30em,40vw,40em);
    height: clamp(30em,40vw,40em);
}
.circle {
    left: clamp(-15em,-20vw,-20em);
    bottom: clamp(-15em,-20vw,-20em);
}
.circle2 {
    right: clamp(-15em,-20vw,-20em);
    top: clamp(-15em,-20vw,-20em);
}

form {
    flex: 1;
    font-family: "roboto", sans-serif;
    width: 30em;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.logo {
    width: 4em;
}
h1 {
    width: 100%;
    text-align: center;
}

.contentWrapper {
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.profileWrapper {
    position: relative;
    display: flex;
    gap: 3em;
}
.imageWrapper {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.imageSpan {
    width: 6em;
    height: 6em;
    aspect-ratio: 1/1;
    background-image: linear-gradient(90deg,var(--color1) 20%, var(--color2) 100%);    
    border-radius: 50%;
    border: 2.5px solid rgba(0, 0, 0,   0.4);
    display: flex;
    place-items: center;
    justify-content: center;
    overflow: hidden;
}
.imageSpan > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imageSpan > i {
    font-size: 3em;
}
.imageLabel {
    height: fit-content;
    width: fit-content;
    background-color: var(--color1) ;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -2.5%;
    left: 16%;
    transition: all 0.15s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}
.clickSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*profile card*/

.card {
    width: 30em;
    height: 30em;
    
}
.usernameWrapper {
    display: flex;
    flex-direction: column;
}


@media (max-width:700px) {
    .zoneWrapper {
        flex-direction: column;
    }
}