@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --color1:#00d46a;
    --color2:rgb(30,216,76);
    --color3:#1d1d1d;
    --color4:rgb(14,14,14);
}
body {
    background-color: rgb(17, 17, 17);
    min-height: 100vh;
    width: 100%;
    position:  relative;
    box-sizing: border-box;  
}
.pageScroll {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
}
.zoneWrapper {
    background-color: var(--color3);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 2em;
    color: white;
    display: flex;
    gap: 1em;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: fit-content;
    
   
}
.circle,.circle2 {
    display: flex;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(0, 255, 135, 0.4) 0%, transparent 70%);
    width: clamp(30em,40vw,40em);
    height: clamp(30em,40vw,40em);
}
.circle {
    left: clamp(-15em,-20vw,-20em);
    bottom: clamp(-15em,-20vw,-20em);
}
.circle2 {
    right: clamp(-15em,-20vw,-20em);
    top: clamp(-15em,-20vw,-20em);
}

form {
    flex: 1;
    font-family: "roboto", sans-serif;
    width: 100%;
    max-width: 420px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.logo {
    width: 4em;
}
h1 {
    width: 100%;
    text-align: center;
}

.contentWrapper {
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 100%;
}
.imageWrapper {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 1em;
    gap: 1em;
    display: flex;
    position: relative;
}

.imageSpan {
    width: 6em;
    aspect-ratio: 1/1;
    background-image: linear-gradient(90deg,var(--color1) 20%, var(--color2) 100%);    
    border-radius: 50%;
    border: 2.5px solid rgba(0, 0, 0,   0.4);
    display: flex;
    place-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

}
.imageSpan > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imageSpan > i {
    font-size: 3em;
}
.imageLabel {
    height: fit-content;
    width: fit-content;
    background-color: var(--color1) ;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom:10%;
    left: 18%;
    transition: all 0.15s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}
.clickSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.5);
}
.usernameWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#username {
    width: 100%;
    height: 3em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: .1em 1em;
    font-size: 1.2em;
    box-sizing: border-box;
    color: white;
    transition: all 0.15s ease-in-out;
    &:focus {
        outline: none;
        border-color: #00d46a;
        box-shadow: 0 0 3px 2px rgba(30,216,76,0.2);
        background-color: rgba(255,255,255,0.2);
    }
}

.validateWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.validateWrapper > span { 
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
}

.usernameWrapper > label, .profileLabel {
    font-weight: 500;

}


button {
    background-image: linear-gradient(90deg,var(--color1) 0%, var(--color2) 100%);
    color: var(--color3);
    font-weight: 800;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.15s ease-in-out;
    font-size: 1.3em;
    width: 100%;
    height: 2.5em;
    border-radius: 15px;
    &:focus {
        outline: none;
        border-color: #00d46a;
        box-shadow: 0 0 3px 2px rgba(30,216,76,0.2);
        background-color: rgba(255,255,255,0.2);
    }
    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
        transform: translateY(-3px) scale(1.03);
    }           
}
/*profile card*/

.card {
    width: 30em;
    height: 30em;
    padding: 1em;
    font-family: "roboto", sans-serif;
}
.profileCard {
    width: 100%;
    height: 100%;
    padding: 2em;
    gap: 1.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:15px ;
}

.headerProfile {
    width: 100%;
    height: 10%;
}

.mainProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg,var(--color1) 0%, var(--color2) 100%);
    border-radius: 15px;
    padding: 1em;
    box-sizing: border-box;
    gap: 1em;
}
.mainProfile > .imageSpan {
    width: 10em;
    height: 10em;
    position: relative;
}

.splitter {
    width: 20%;
    height: 2%;
    position: relative;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.75);
}

.email, .solyTag {
    display: flex;
    align-items: center;
    gap: .5em;
}


.popUpRegister {
    position: absolute;
    opacity: 0;
    left: 50%;
    bottom: 0em;
    width: 20em;
    height: 5em;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1d1d1d;
    translate: -50% 0%;
    transition: all 0.5s ease-in-out;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    flex-direction: column;
    display: flex;
    pointer-events: none;
}
.popUpRegister > span {
    display: flex;
    justify-content: center;
    font-family: "roboto",sans-serif;
}
.popUpRegister.visible {
    opacity: 1;
    bottom: 1em;
}
.progressBarEmpty {
    width: 100%;
    height: 0.3em;
    background-color: black;
    border-radius: 50px;
}
.progressBarFilling {
    position: absolute;
    width: calc(100% - 2em);
    background-color: var(--color1);
    height: 0.3em;
    bottom: 1em;
    z-index: 1;
    transform: scaleX(0);
    border-radius: 50px;
    transition: transform 2s ease-in-out;
    transition-delay: 0.25s;
    
}
.progressBarFilling.visible {
    transform: scaleX(1);
}

@media (max-width:1100px) {
    .zoneWrapper {
        flex-direction: column;
        padding: 1em;
    }
    .pageScroll {
        align-items: flex-start;
        padding: 1em;
    }
    .profileCard {
        border: none;
    }
    .card {
        width: 100%;
    }
}