@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --color1:#00d46a;
    --color2:rgb(30,216,76);
    --color3:#1d1d1d;
    --color4:rgb(14,14,14);
}
body {
    background-color: rgb(17, 17, 17);
    margin: 0;
    height: 100dvh;
    width: 100%;
    position:  relative;
    box-sizing: border-box;
    overflow:hidden;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle,.circle2 {
    display: flex;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 255, 135, 0.4) 0%, transparent 70%);
    width: clamp(30em,40vw,40em);
    height: clamp(30em,40vw,40em);
   
}
.circle {
    left: clamp(-15em,-20vw,-20em);
    bottom: clamp(-15em,-20vw,-20em);
}
.circle2 {
    right: clamp(-15em,-20vw,-20em);
    top: clamp(-15em,-20vw,-20em);
}

.content {
    font-family: "roboto", sans-serif;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 4em;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}
button {
    background-image: linear-gradient(90deg,var(--color1) 0%, var(--color2) 100%);
    color: var(--color3);
    font-weight: 800;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.15s ease-in-out;
    font-size: 1.3em;
    width: 10em;
    height: 2.5em;
    border-radius: 15px;
    &:focus {
        outline: none;
        border-color: #00d46a;
        box-shadow: 0 0 3px 2px rgba(30,216,76,0.2);
        background-color: rgba(255,255,255,0.2);
    }
    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
        transform: translateY(-3px) scale(1.03);
    }           
}
form {
    
}