@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --color1:#00d46a;
    --color2:rgb(30,216,76);
    --color3:#1d1d1d;
    --color4:rgb(14,14,14);
}

::selection {
    background-color: var(--color1);
}

html {
    overflow: hidden;
}
body {
    background-color: rgb(17, 17, 17);
    margin: 0;
    height: 100dvh;
    width: 100%;
    position:  relative;
    box-sizing: border-box;
    overflow:hidden;   
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 90%;
    height: 100% ;
    text-align: center;
    font-family: "roboto", sans-serif;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    position:  relative;
}
.circle,.circle2 {
    display: flex;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 255, 135, 0.4) 0%, transparent 70%);
    width: clamp(30em,40vw,40em);
    height: clamp(30em,40vw,40em);
   
}
.circle {
    left: clamp(-15em,-20vw,-20em);
    bottom: clamp(-15em,-20vw,-20em);
}
.circle2 {
    right: clamp(-15em,-20vw,-20em);
    top: clamp(-15em,-20vw,-20em);
}


.titleWrapper {
    height: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.titleWrapper > img {
    height: 4em;
}
.titleWrapper > h1 {
    font-size: 5em;
    opacity: 0.8;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    color: transparent;
    background-clip: text;
    display: inline-block;
    background-image: linear-gradient(135deg, #ffffff 0%, #a0a0a0a0 100%);
}
.citationWrapper > h3 {
    color: white;
    font-size: clamp(2em,4vw,4em);
    font-weight: 500;
}

.paragraphWrapper > p {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2.35ch;
    height: fit-content;
}
.paragraphWrapper > p > i {
    font-weight: 500;
}
.author {
    font-size: clamp(0.7em,1vw,1em);
    white-space: nowrap;
    position: absolute;
    left: 50%;
    bottom: 1em;
    translate: -50% 0 ;
    color: rgba(255,255,255,0.3);
    letter-spacing: 1.1px;
    font-weight: 500;
}
.author > a {
    color: var(--color2);
}
.author > span {
    color: white;
}
.buttonWrapper > .logIn {
    background-color: var(--color2);
    border: none;
    width: 8em;
    height: 2.25em;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: .4em;
    color: black;
    transition-property:filter,transform;
    transition-duration: 0.2s;
    transform-style: ease-in-out;
    &:hover {
        filter: brightness(1.2);
        cursor: pointer;
        transform: translateY(-3px) scale(1.03);
        
    }
}
.logIn:active {
    opacity: 0.8;
}
.signInLabel {
    color: rgba(255, 255, 255,0.66);
    margin-bottom: 1em;
}
.signInLabel > a {
    color: var(--color1);
    text-decoration: none;
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-left: 0.25em;
    transition: all 0.15s ease-in-out;
    &:hover {
        color: white;
    }
}

.logIn > .material-symbols-outlined {
    font-weight: 700;
    font-size: 1.2em;
    display: flex;
    align-items: center ;
}

/*partie formulaire*/

.form-container {
    display: flex;
    flex-direction: column;
}

.registerWrapper, .loginWrapper {
    display: none;
    height: fit-content;
    width: clamp(22.5em,37.5vw,37.5em);
    border-radius: 20px;
    border: 1.2px solid rgba(255, 255, 255,0.1);
    background-color: var(--color3);
    font-family: "roboto", sans-serif;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    position: relative;
}
.back {
    position: absolute;
    height: 3.5em;
    background-color: var(--color3);
    border: 1.2px solid rgba(255, 255, 255,0.1);
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    left: 1em;
    top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-color: #00d46a;
        box-shadow: 0 0 3px 2px rgba(30,216,76,0.2);
        cursor: pointer;
    }
}
.back:focus {
    outline: none;
    
}
.back > .material-symbols-outlined {
    color: white;
}

.registerWrapper.visible, .loginWrapper.visible {
    display: flex;
}
.registerForm, .loginForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
    gap: 1.5em;
}
.loginForm >  img,.registerForm > img {
    width: 5em;
    aspect-ratio: 1/1;
}
.loginForm > button, .registerForm > button {
    background-image: linear-gradient(90deg,var(--color1) 0%, var(--color2) 100%);
    color: var(--color3);
    font-weight: 800;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.15s ease-in-out;
    font-size: 1.3em;
    width: 100%;
    height: 2.5em;
    border-radius: 15px;
    &:focus {
        outline: none;
        border-color: #00d46a;
        box-shadow: 0 0 3px 2px rgba(30,216,76,0.2);
        background-color: rgba(255,255,255,0.2);
    }
    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
        transform: translateY(-3px) scale(1.03);
    }           
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5em;
}
.inputWrapper > .forgotPassword {
    color: var(--color1);
    margin-left: auto;
    transition: all 0.15s ease-in-out;
    &:hover {
        cursor: pointer;
        color: white;
    }
}

.inputWrapper > label {
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.9);
    
}
.inputWrapper > input {
    width: 100%;
    height: 3em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: .1em 1em;
    font-size: 1.2em;
    box-sizing: border-box;
    color: white;
    transition: all 0.15s ease-in-out;
    &:focus {
        outline: none;
        border-color: #00d46a;
        box-shadow: 0 0 3px 2px rgba(30,216,76,0.2);
        background-color: rgba(255,255,255,0.2);
    }
}

.noAccount {
    color: rgba(255,255,255,0.5);
}
.link {
    color: var(--color1);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.2px;
    transition: all 0.15s ease-in-out;
    &:hover {
        color: white;
    }
}