
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
.roboto-serif {
    font-family:"Roboto Serif", serif;
}
.roboto {
    font-family: "Roboto", sans-serif;
}

form h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3), 4px 4px 0px rgba(0, 0, 0, 0.2);
}
h2 {
    font-weight: 400;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}


body {
    height: 100vh;
    font-size: 4em;
    background-color: rgb(80, 80, 80);
    background-image: url("assets/fond\ d\'écran\ en\ 2k\ p.png");
    background-size:120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: background-position 0.1s ease;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}
.form-container {
    overflow: hidden;
    position: relative;
    display: flex;
    height: 70%;
    width: 60%;
    border-radius: 10px;
    color: rgb(10, 255, 50);
    background-color: rgb(20, 20, 20);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}   
.formWrapper {
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
    font-size: 100%;
}

form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 4.5vw;
    transition: all 0.5s ease-in-out;
}


form h1 {
    position: relative;
    text-shadow: none;
    font-weight: 400;
    font-size: 0.5em;
    padding: 0.5em;
    letter-spacing: -1px;
    top:-1em;
}
.loginForm, .registerForm {
    transition: all 0.5s ease-in-out;
}
.loginForm {
    left: 100%;
}
.registerForm {
    left: 0%;
}
.registerForm.mooved {
    left: -100%;
}
.loginForm.mooved {
    left: 0;
}
form input {
    position: relative;
    background-color: rgba(20, 20, 20);
    box-shadow: 0 0px 10px rgba(10, 255, 50, 0.5);
    font-size: 0.3em;
    color: rgb(10, 255, 50);
    width: 15em;
    border-radius: 10px;
    border: rgb(10, 255, 50) 3px solid;
    height: 2.5em;
    padding: 0.2em 1em;
    transition: box-shadow 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
    }
}
.inputWrapper button {
    position: absolute;
    border: none;
    box-shadow: none;
    background-color: transparent;
    height: 1em;
    width: 100%;
    text-decoration: underline;
    padding-top:3em ;
    font-size: 0.2em;
}
input:focus {
    outline: none;
    box-shadow:  none;
}
.inputWrapper input:focus + .placeholder,
.inputWrapper input:valid + .placeholder {
    transform: translateY(-1.6em) scale(0.8);
}


form .inputWrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 1em;
    margin-top: 0.5em;
    justify-content: center;
    align-items: center;
}

.placeholder {
    left: 3em;
    position: absolute;
    z-index: 1;
    font-size: 0.3em;
    color: rgba(10, 255, 50,0.5);
    pointer-events: none;
    background-color: rgb(20, 20, 20);
    padding:0 0.4em;
    transition: transform 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
    }
}
.containerMoove {
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 70%;
    height: 100%;
    right: -20%;
    border-radius: 5vw;
    z-index: 2;
    background-color: rgb(10, 255, 50);
    transition: right 0.5s ease-in-out;
}
.containerMoove.mooved {
    right: 50%;
}

.goToLogin {
    position: relative;
    height: 90%; 
    width: 75%; 
    right: -12%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}
.goToRegister {
    position: relative;
    height: 70%; 
    width: 80%;  
    right: -30%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

/* Pour les états déplacés */
.goToLogin.mooved {
    right: 50%;
}
.goToRegister.mooved {
    right: 10%;
}
.goToLogin p:nth-of-type(1), .goToRegister p:nth-of-type(1){
    padding: 1em 0 0 0;
    font-weight: 400;
    font-size: 1.25vw;
    color: black;
}
.goToRegister p:nth-of-type(2){
    padding: 1em 0 0 0;
    font-weight: 500;
    font-size: 2vw;
    color: black;
}
.goToLogin p:nth-of-type(2){
    padding: 4em 0 0 0;
    font-weight: 500;
    font-size: 2vw;
    color: black;
}

.goToLogin h1 , .goToRegister h1 {
    font-weight: 600;
    font-size: 3vw;
    z-index: 4;
    color: rgb(20, 20, 20);
}
.goToLogin button , .goToRegister button {
    width: 9em;
    margin-top: 1.5em;
    height: 2.5em;
    border-radius: 5px;
    border: rgb(20, 20, 20) 2.5px solid;
    box-shadow: 0 0px 10px rgba(20, 20 , 20, 0.5);
    background-color: transparent;
    font-size: 0.25em;
    font-weight: 600;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover{
        box-shadow: none;
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
        box-shadow: none;
        transform: scale(1.05);
    }
}

form button {
    width: 11em;
    height: 2.5em;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(10, 255, 50, 0.5);
    border: rgb(10, 255, 50) 3px solid;
    margin-top: 3em;
    font-size: 0.3em;
    background-color: rgb(20, 20, 20);
    color: rgba(10, 255, 50);
    transition: box-shadow 0.2s ease-in-out,transform 0.2s ease-in-out;
    &:hover {
        box-shadow: none;
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
        box-shadow: none;
        transform: scale(1.05);
    }
}
.popUpRegister {
    position: absolute;
    display: flex;
    pointer-events: none;
    opacity: 0;
    width: 20%;
    height: 10%;
    bottom: 2%;
    right: 50%;
    translate: 50%;
    background-color: rgb(20, 20, 20);
    color: rgb(10, 255, 50);
    border-radius: 5px;
    font-size: 0.25em;
    justify-content: center;
    align-items: center;
    transform: translateY(-1.6em);
    transition: all 1s ease ;
}
.popUpRegister.visible {
    opacity: 1;
    transform:translateY(0)
}
      
.progressBarEmpty {
    width: 100%;
    height:5%;
    background-color: gray;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px ;
}
.progressBarFilling {
    width: 0%;
    height: 5%;
    background-color: rgb(10, 255, 50);
    bottom: 0;
    position: absolute;
    border-radius: 0 0 10px 10px;
    transform-origin: center;
    transition: width 1.5s ease-out;
}
.progressBarFilling.visible {
    width: 100%;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    color: white;
    font-size: 1rem;
    align-items: center;
    justify-content: end; 
    padding-bottom: 0.5em;
}
.copyrightContainer {
    margin: 1em;
    padding: 0.75em;
    border-radius: 10px;
    background-color: rgba(34,34,34,0.6);
    backdrop-filter: blur(10px);
    color: rgb(10, 255, 50);

}
