@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --color1:#00d46a;
    --color2:rgb(30,216,76);
}

::selection {
    background-color: var(--color1);
}

html {
    overflow: hidden;
}
body {
    background-color: rgb(17, 17, 17);
    margin: 0;
    height: 100dvh;
    width: 100%;
    position:  relative;
    box-sizing: border-box;
    overflow:hidden;
    
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 90%;
    height: 100% ;
    text-align: center;
    font-family: "roboto", sans-serif;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    position:  relative;
}
.circle,.circle2 {
    display: flex;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 255, 135, 0.4) 0%, transparent 70%);
    width: clamp(30em,40vw,40em);
    height: clamp(30em,40vw,40em);
   
}
.circle {
    left: clamp(-15em,-20vw,-20em);
    bottom: clamp(-15em,-20vw,-20em);
}
.circle2 {
    right: clamp(-15em,-20vw,-20em);
    top: clamp(-15em,-20vw,-20em);
}


.titleWrapper {
    height: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0em;
}
.titleWrapper > img {
    height: 5.5em;
    transform: translateY(8px);
}
.titleWrapper > h1 {
    font-size: 5em;
    opacity: 0.8;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    color: transparent;
    background-clip: text;
    display: inline-block;
    background-image: linear-gradient(135deg, #ffffff 0%, #a0a0a0a0 100%);
}
.citationWrapper > h3 {
    color: white;
    font-size: clamp(2em,4vw,4em);
    font-weight: 500;
}

.paragraphWrapper > p {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2.35ch;
    height: fit-content;
}
.paragraphWrapper > p > i {
    font-weight: 500;
}
.author {
    font-size: clamp(0.7em,1vw,1em);
    white-space: nowrap;
    position: absolute;
    left: 50%;
    bottom: 1em;
    translate: -50% 0 ;
    color: rgba(255,255,255,0.3);
    letter-spacing: 1.1px;
    font-weight: 500;
}
.author > a {
    color: rgb(30,216,76);
}
.author > span {
    color: white;
}
.buttonWrapper > .logIn {
    background-color: rgb(30, 216, 76);
    border: none;
    width: 8em;
    height: 2.25em;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: .4em;
    color: black;
    transition-property:filter,transform;
    transition-duration: 0.2s;
    transform-style: ease-in-out;
    &:hover {
        filter: brightness(1.2);
        cursor: pointer;
        transform: translateY(-3px) scale(1.03);
        
    }
}
.logIn:active {
    opacity: 0.8;
}
.signInLabel {
    color: rgba(255, 255, 255,0.66);
    margin-bottom: 1em;
}
.signInLabel > a {
    color: white;
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-left: 0.25em;
    transition: color 0.05s ease-in-out;
    &:hover {
        color: var(--color1);

    }
}

.logIn > .material-symbols-outlined {
    font-weight: 700;
    font-size: 1.2em;
    display: flex;
    align-items: center ;
}

/*partie formulaire*/

.form-container {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.registerWrapper {
    display: none;
}
.loginWrapper {
    display: none;
}
.registerWrapper.visible, .loginWrapper.visible {
    display: flex;
}